SUPABASE_URL=https://wcrcgdeuawmyjliklhhp.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndjcmNnZGV1YXdteWpsaWtsaGhwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjkzOTA0MiwiZXhwIjoyMDkyNTE1MDQyfQ.HRTZa5ltaAPc0h5IbnFDjzFzyz56tb-4-mxa_FWKS2c
ADMIN_PASSWORD=cronasia123456

# R2/S3
STORAGE_ENDPOINT=https://929dbd9deb454a93c342bfddd6021303.r2.cloudflarestorage.com
STORAGE_REGION=auto
STORAGE_ACCESS_KEY_ID=98995675d117c27c2fe2ef1e05294325
STORAGE_SECRET_ACCESS_KEY=7a04fcbd4921a4eebc6484877d637bce5c87f5dcda2993d8e28f40c964a35733
STORAGE_BUCKET_NAME=graduates-uploads
STORAGE_PUBLIC_BASE_URL=https://pub-f50ff3b016c54b7b970bfcad004b6d6c.r2.dev

RATE_LIMIT_MAX_PER_MINUTE=120
